<style>
  /* Disposition de la fenetre d appel : une colonne dont seule la zone media est
     elastique. Les commandes conservent leur hauteur et restent donc visibles. */
  .sipDisplay[data-eqLogic_id="#id#"] {
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
  }
  .sipDisplay[data-eqLogic_id="#id#"] .sipmedia {
    position: relative;
    flex: 1 1 auto;
    min-height: 0;
    min-width: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* Remplir la zone disponible en conservant les proportions. Un simple plafond
     laissait l image a sa taille naturelle, tres petite au regard du cadre. */
  .sipDisplay[data-eqLogic_id="#id#"] .remoteview,
  .sipDisplay[data-eqLogic_id="#id#"] .previewview {
    width: 100%;
    height: 100%;
    min-height: 0;
    object-fit: contain;
    box-sizing: border-box;
  }
  /* Notre image en incrustation : elle ne prend plus de hauteur a la colonne. */
  .sipDisplay[data-eqLogic_id="#id#"] .selfview {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 22%;
    max-width: 190px;
    height: auto;
  }
  .sipDisplay[data-eqLogic_id="#id#"] .sipdoors,
  .sipDisplay[data-eqLogic_id="#id#"] .sipkeypad,
  .sipDisplay[data-eqLogic_id="#id#"] .calleridentitydisplay {
    flex: 0 0 auto;
  }
  .sipDisplay[data-eqLogic_id="#id#"] .sipkeypad .sipkeygrid {
    display: inline-grid;
    grid-template-columns: repeat(3, 3em);
    gap: 4px;
  }
  .sipDisplay[data-eqLogic_id="#id#"] .sipkeypad .sipkey {
    font-size: 1.15em;
    padding: 4px 0;
  }
</style>

<div
  class="cmd cmd-widget"
  data-type="info"
  data-subtype="string"
  data-cmd_id="#id#">

  <a class="btn btn-sm btn-default action">#name#</a>

  <div class="sipDisplay" style="display:none;" title="#name_display#" data-eqLogic_uid="#uid#" data-eqLogic_id="#id#">
    <audio id="remoteAudio" autoplay></audio>
    <center class="calleridentitydisplay" style="padding:8px; display:none" data-eqLogic_uid="#uid#" data-eqLogic_id="#id#">
      <div class="namedisplay" style="font-size: 2.2em" data-eqLogic_uid="#uid#" data-eqLogic_id="#id#">Name</div>
      <div class="uridisplay" style="font-size: 1.3em; opacity:0.75" data-eqLogic_uid="#uid#" data-eqLogic_id="#id#">uri</div>
    </center>
    <div class="sipmedia" data-eqLogic_uid="#uid#" data-eqLogic_id="#id#">
    <img class="previewview" style="border: 3px solid grey; display:none" id="previewView" data-eqLogic_uid="#uid#" data-eqLogic_id="#id#" />
    <video class="selfview" style="border: 3px solid grey; display:none" id="selfView" autoplay muted=true autoplay data-eqLogic_uid="#uid#" data-eqLogic_id="#id#"></video>
    <video class="remoteview" style="border: 3px solid grey; display:none" id="remoteView" autoplay data-eqLogic_uid="#uid#" data-eqLogic_id="#id#"></video>
    </div>
    <center>
      <a class="sipactionbutton btn btn-sm btn-default action" data-eqLogic_uid="#uid#" data-eqLogic_id="#id#">Action</a>
      <a class="sipactionbisbutton btn btn-sm btn-default action" data-eqLogic_uid="#uid#" data-eqLogic_id="#id#" style="display:none">Action Bis</a>
    </center>
    <center class="sipdoors" data-eqLogic_uid="#uid#" data-eqLogic_id="#id#" style="margin-top:10px"></center>
    <center class="sipkeypad" data-eqLogic_uid="#uid#" data-eqLogic_id="#id#" style="margin-top:12px">
      <div class="sipdialed" data-eqLogic_uid="#uid#" data-eqLogic_id="#id#" style="font-size:1.8em; min-height:1.3em; letter-spacing:0.15em; font-family:monospace"></div>
      <div class="sipkeygrid" style="margin-top:6px">
        <a class="sipkey btn btn-default" data-touche="1" data-eqLogic_uid="#uid#" data-eqLogic_id="#id#">1</a>
        <a class="sipkey btn btn-default" data-touche="2" data-eqLogic_uid="#uid#" data-eqLogic_id="#id#">2</a>
        <a class="sipkey btn btn-default" data-touche="3" data-eqLogic_uid="#uid#" data-eqLogic_id="#id#">3</a>
        <a class="sipkey btn btn-default" data-touche="4" data-eqLogic_uid="#uid#" data-eqLogic_id="#id#">4</a>
        <a class="sipkey btn btn-default" data-touche="5" data-eqLogic_uid="#uid#" data-eqLogic_id="#id#">5</a>
        <a class="sipkey btn btn-default" data-touche="6" data-eqLogic_uid="#uid#" data-eqLogic_id="#id#">6</a>
        <a class="sipkey btn btn-default" data-touche="7" data-eqLogic_uid="#uid#" data-eqLogic_id="#id#">7</a>
        <a class="sipkey btn btn-default" data-touche="8" data-eqLogic_uid="#uid#" data-eqLogic_id="#id#">8</a>
        <a class="sipkey btn btn-default" data-touche="9" data-eqLogic_uid="#uid#" data-eqLogic_id="#id#">9</a>
        <a class="sipkey btn btn-default" data-touche="*" data-eqLogic_uid="#uid#" data-eqLogic_id="#id#">*</a>
        <a class="sipkey btn btn-default" data-touche="0" data-eqLogic_uid="#uid#" data-eqLogic_id="#id#">0</a>
        <a class="sipkey btn btn-default" data-touche="#" data-eqLogic_uid="#uid#" data-eqLogic_id="#id#">#</a>
      </div>
      <div style="margin-top:8px">
        <a class="sipclear btn btn-sm btn-default" data-eqLogic_uid="#uid#" data-eqLogic_id="#id#">Effacer</a>
      </div>
      <div class="sipkeyhint" style="margin-top:6px; font-size:0.85em; opacity:0.7">Pendant un appel, les touches envoient des tonalités DTMF.</div>
    </center>
  </div>

  <!-- La bibliotheque vit dans core/template/ et non dans desktop/ : le .htaccess de
       Jeedom refuse en 403 tout fichier .js servi depuis un chemin contenant /desktop/,
       ce qui empechait JsSIP de se charger et rendait ce widget inoperant. -->
  <script src="/plugins/gds3710/core/template/js/jssip-3.4.3.min.js"></script>

  <script>

    /* Signale un probleme sur le bouton du widget plutot que dans une alerte modale.
     * Une fenetre modale bloque toute la page et n'explique rien a qui ne lit pas la console. */
    function gds3710SipProblem(message) {
      var button = $('.cmd[data-cmd_id=#id#] .action').eq(0);
      button.css('color', 'rgb(185, 58, 62)');
      button.attr('title', message);
      button.text('SIP : ' + message);
      console.log('GDS3710 SIP : ' + message);
    }

    /* Tout le client vit dans cette fonction : elle n'est appelee qu'une fois la
     * configuration recue et les pre-requis verifies. */
    function gds3710InitSip(settings) {

    if(settings.is_sip_debug_enabled == 1){
      JsSIP.debug.enable('JsSIP:*');
    } else {
      JsSIP.debug.disable();
    }

    var greenColor = 'rgb(50, 130, 60)';
    var redColor = 'rgb(185, 58, 62)';
    var orangeColor = 'rgb(195, 125, 40)';

    sipClientState = {

      internalSipStateText : '',
      internalSipRegistrationState : false,
      internalSipConnectionState : false,
      internalSipWaitingAnswer : false,
      internalSipRinging : false,
      internalSipOnCall : false,
      aInternal: 10,

      set sipStateText(val){
        this.internalSipStateText = val;
        this.stateListener(val);
      },
      get sipStateText(){
        return this.internalSipStateText;
      },

      set sipRegistrationState(val){
        this.internalSipRegistrationState = val;
        this.stateListener(val);
      },
      get sipRegistrationState(){
        return this.internalSipRegistrationState;
      },

      set sipConnectionState(val){
        this.internalSipConnectionState = val;
        this.stateListener(val);
      },
      get sipConnectionState(){
        return this.internalSipConnectionState;
      },

      set sipRinging(val){
        this.internalSipRinging = val;
        this.stateListener(val);
      },
      get sipRinging(){
        return this.internaSipRinging;
      },

      set sipWaitingAnswer(val){
        this.internalSipWaitingAnswer= val;
        this.stateListener(val);
      },
      get sipWaitingAnswer(){
        return this.internalSipWaitingAnswer;
      },

      set sipOnCall(val){
        this.internalSipOnCall = val;
        this.stateListener(val);
      },
      get sipOnCall(){
        return this.internalSipOnCall;
      },

      stateListener : function() {

        if(this.internalSipRegistrationState){
          SIPbuttonChange(greenColor, this.internalSipStateText);
        } else if(this.internalSipConnectionState){
          SIPbuttonChange(orangeColor, this.internalSipStateText);
        } else {
          SIPbuttonChange(redColor, this.internalSipStateText);
        }

        if(this.internalSipWaitingAnswer){
          tonalite.play();
        } else {
          tonalite.pause();
        }

        if(this.internalSipRinging){
          SIPbuttonModalChange(greenColor, "Répondre");
          majTitre("Appel entrant");
          ringtone.play();
          $(".calleridentitydisplay[data-eqLogic_id=#id#]").show();
          $(".sipactionbutton[data-eqLogic_id=#id#]").unbind('click');
          $(".sipactionbutton[data-eqLogic_id=#id#]").click(pickUpCall);
          SIPbuttonBisModalChange(redColor, "Refuser l'Appel");
          $(".sipactionbisbutton[data-eqLogic_id=#id#]").unbind('click');
          $(".sipactionbisbutton[data-eqLogic_id=#id#]").click(terminateCall);
        } else if(this.internalSipOnCall){
          ringtone.pause();
          SIPbuttonModalChange(redColor, "Raccrocher");
          majTitre("En communication");
          /* Un cadre sans flux reste un rectangle vide : on n affiche que ce qui
           * porte quelque chose. attacherMedia() se charge de reveler chaque
           * lecteur a l arrivee de sa piste. */
          if (remoteView.srcObject) {
            $(".remoteview[data-eqLogic_id=#id#]").show();
          }
          if (selfView.srcObject) {
            $(".selfview[data-eqLogic_id=#id#]").show();
          }
          $(".sipactionbutton[data-eqLogic_id=#id#]").unbind('click');
          $(".sipactionbutton[data-eqLogic_id=#id#]").click(terminateCall);
          $(".sipactionbisbutton[data-eqLogic_id=#id#]").hide();
        } else {
          SIPbuttonModalChange(greenColor, "Appeler");
          majTitre("");
          $(".remoteview[data-eqLogic_id=#id#]").hide();
          $(".selfview[data-eqLogic_id=#id#]").hide();
          libererLecteurs();
          $(".calleridentitydisplay[data-eqLogic_id=#id#]").hide();
          ringtone.pause();
          $(".sipactionbutton[data-eqLogic_id=#id#]").unbind('click');
          $(".sipactionbutton[data-eqLogic_id=#id#]").click(startCall);
          $(".sipactionbisbutton[data-eqLogic_id=#id#]").hide();
        }

      },

      registerListener: function(listener) {
        this.stateListener = listener;
      }
    }

    function removeLineFromSDPWithRegex(sdp, regex){
      var regex = new RegExp(regex, 'g');
      var modsdp = sdp.replace(regex, "");
      return modsdp;
    }

    // function removeAcandiate(sdp){
    //   //console.log(sdp);
    //   var acandidateregex = new RegExp('(a=candidate:\\d* \\d tcp .+\\r\\n)', 'g');
    //   //console.log(acandidateregex)
    //   //var acandidat = sdp.match(acandidateregex);
    //   //console.log(acandidat.length);
    //   var modsdp = sdp.replace(acandidateregex, "");
    //   //console.log(modsdp)
    //   return modsdp;
    // }

    function removeCodec(orgsdp, codec) {
      var internalFunc = function(sdp) {
          var codecre = new RegExp('(a=rtpmap:(\\d*) ' + codec + '\/90000\\r\\n)');
          var rtpmaps = sdp.match(codecre);
          if (rtpmaps == null || rtpmaps.length <= 2) {
              return sdp;
          }
          var rtpmap = rtpmaps[2];
          // var modsdp = sdp.replace(codecre, "");​
          var modsdp = sdp.replace(codecre, "");
          var rtcpre = new RegExp('(a=rtcp-fb:' + rtpmap + '.*\r\n)', 'g');
          //  modsdp = modsdp.replace(rtcpre, "");​
          modsdp = modsdp.replace(rtcpre, "");
          var fmtpre = new RegExp('(a=fmtp:' + rtpmap + '.*\r\n)', 'g');
          //    modsdp = modsdp.replace(fmtpre, "");​
          modsdp = modsdp.replace(fmtpre, "");
          var aptpre = new RegExp('(a=fmtp:(\\d*) apt=' + rtpmap + '\\r\\n)');
          var aptmaps = modsdp.match(aptpre);
          var fmtpmap = "";
          if (aptmaps != null && aptmaps.length >= 3) {
              fmtpmap = aptmaps[2];
              // modsdp = modsdp.replace(aptpre, "");​
              modsdp = modsdp.replace(aptpre, "");
              var rtppre = new RegExp('(a=rtpmap:' + fmtpmap + '.*\r\n)', 'g');
              modsdp = modsdp.replace(rtppre, "");
          }
          var videore = /(m=video.*\r\n)/;
          var videolines = modsdp.match(videore);
          if (videolines != null) {
              //If many m=video are found in SDP, this program doesn't work.
              var videoline = videolines[0].substring(0, videolines[0].length - 2);
              var videoelem = videoline.split(" ");
              var modvideoline = videoelem[0];
              for (var i = 1; i < videoelem.length; i++) {
                  if (videoelem[i] == rtpmap || videoelem[i] == fmtpmap) {
                      continue;
                  }
                  modvideoline += " " + videoelem[i];
              }
              modvideoline += "\r\n";
              modsdp = modsdp.replace(videore, modvideoline);
          }
          return internalFunc(modsdp);
      };
      return internalFunc(orgsdp);
    }

    /* Le navigateur peut interdire la camera a la page elle-meme, independamment de
     * toute autorisation utilisateur : l'image Docker de Jeedom envoie un en-tete
     * Permissions-Policy contenant camera=(). Chrome refuse alors sans rien demander,
     * et JsSIP rapporte "User Denied Media Access" — ce qui fait chercher du cote
     * d'un refus qui n'a jamais eu lieu. Le micro, lui, n'est pas restreint. */
    function cameraAutorisee() {
      var politique = document.featurePolicy || document.permissionsPolicy;
      if (!politique || typeof politique.allowsFeature !== 'function') {
        return true;
      }
      try {
        return politique.allowsFeature('camera');
      } catch (e) {
        return true;
      }
    }

    /* Ramene les contraintes media reellement tenables sur cette machine, puis appelle
     * suite(). Envoyer notre propre camera vers un portier sans ecran n'apporte rien :
     * en cas d'obstacle on retombe sur l'audio seul plutot que d'echouer. */
    function contraintesMedia(veutAudio, veutVideo, suite) {
      navigator.mediaDevices.enumerateDevices().then(function (devices) {
        var aCamera = devices.some(function (d) { return d.kind === 'videoinput'; });
        var aMicro = devices.some(function (d) { return d.kind === 'audioinput'; });

        if (veutAudio && !aMicro) {
          SIPbuttonModalChange(redColor, 'Aucun micro sur cette machine');
          console.log('JsSIP : aucun peripherique audioinput, appel abandonne.');
          return;
        }
        if (veutVideo && !aCamera) {
          console.log('JsSIP : aucun peripherique videoinput, repli sur laudio seul.');
          veutVideo = false;
        }
        if (veutVideo && !cameraAutorisee()) {
          console.log('JsSIP : la camera est interdite a cette page par lentete '
            + 'Permissions-Policy, repli sur laudio seul. Voir la documentation, '
            + 'section Client SIP.');
          veutVideo = false;
        }

        suite({ 'audio': veutAudio, 'video': veutVideo });
      }).catch(function (e) {
        SIPbuttonModalChange(redColor, 'Peripheriques inaccessibles');
        console.log('JsSIP : enumerateDevices a echoue : ' + e.message);
      });
    }

    /* Apercu pendant la sonnerie. Le flux MJPEG reste connecte tant que l attribut
     * src est renseigne : il faut donc le vider explicitement, sinon le portier
     * conserve une session ouverte apres la fin de l appel. */
    /* Charges utiles que le navigateur refuse de lire. La 2 est reservee par la
     * RFC 3551 ; un serveur qui y place G726-32 rend son offre entierement
     * illisible pour Chrome, qui rejette tout le SDP et non le seul codec. */
    var chargesRefusees = [2];

    function nettoyerSdpDistant(sdp) {
      var lignes = sdp.split(/\r?\n/);
      var sortie = [];
      var retires = [];

      for (var i = 0; i < lignes.length; i++) {
        var ligne = lignes[i];

        var attribut = ligne.match(/^a=(?:rtpmap|fmtp|rtcp-fb):(\d+)[ :]/);
        if (attribut && chargesRefusees.indexOf(parseInt(attribut[1], 10)) !== -1) {
          if (ligne.indexOf('a=rtpmap:') === 0) {
            retires.push(ligne.substring(2));
          }
          continue;
        }

        if (ligne.indexOf('m=') === 0) {
          var champs = ligne.split(' ');
          var gardes = champs.slice(0, 3);
          for (var j = 3; j < champs.length; j++) {
            if (chargesRefusees.indexOf(parseInt(champs[j], 10)) === -1) {
              gardes.push(champs[j]);
            }
          }
          ligne = gardes.join(' ');
        }

        sortie.push(ligne);
      }

      if (retires.length > 0) {
        console.log('JsSIP : offre distante nettoyee, codec(s) illisibles par le '
          + 'navigateur retires : ' + retires.join(', '));
      }
      return sortie.join('\r\n');
    }

    function ouvrirApercu() {
      if (!settings.preview_url) {
        return;
      }
      previewView.src = settings.preview_url + '&t=' + Date.now();
      $(".previewview[data-eqLogic_id=#id#]").show();
      console.log('JsSIP : apercu du portier affiche pendant la sonnerie.');
    }

    function fermerApercu() {
      $(".previewview[data-eqLogic_id=#id#]").hide();
      if (previewView.getAttribute('src')) {
        previewView.removeAttribute('src');
      }
    }

    function pickUpCall(){
      console.log("JsSip : User Action - Picking-Up Call.");

      sipClientState.sipRinging = false;

      /* On previent le serveur immediatement : l appel est pris, il ne devra pas etre
       * signale comme non decroche. */
      if (settings.equipment_id) {
        $.ajax({
          type: 'POST',
          url: 'plugins/gds3710/core/ajax/gds3710.ajax.php',
          data: { action: 'callAnswered', id: settings.equipment_id },
          dataType: 'json'
        });
      }

      contraintesMedia(!!settings.is_remote_call_audio_enabled,
                       !!settings.is_remote_call_video_enabled,
                       function (mediaConstraints) {
        /* Etat pose ici seulement : si les peripheriques manquent, l'appel n'est
         * pas decroche et le widget ne doit pas se croire en communication. */
        sipClientState.sipOnCall = true;

        var incomingCalloptions = {
          'mediaConstraints' : mediaConstraints,
          /* L offre du portier contient une ligne video. Si l on n annonce pas
           * explicitement qu on veut la recevoir, JsSIP produit une reponse
           * incoherente avec l offre et echoue sur un « WebRTC Error » sans detail. */
          'rtcAnswerConstraints' : { 'offerToReceiveAudio': 1, 'offerToReceiveVideo': 1 }
        };

        console.log("JsSip : Incoming Call Options : " + JSON.stringify(incomingCalloptions));

        session.answer(incomingCalloptions);
      });
    }

    function terminateCall(){
      console.log("JsSip : User Action - Terminating Call.");
      session.terminate();
      sipClientState.sipWaitingAnswer = false;
      sipClientState.sipOnCall = false;
      sipClientState.sipRinging = false;
    }

    /* Detache les flux des lecteurs. Sans cela le cadre conserve la derniere image
     * du precedent appel, et la piste distante reste referencee apres sa fin. */
    function libererLecteurs() {
      if (remoteView.srcObject) {
        remoteView.srcObject = null;
      }
      if (selfView.srcObject) {
        selfView.srcObject = null;
      }
    }

    /* Rattache le media distant aux lecteurs.
     *
     * L'ancienne API 'addstream' ne remettait qu'un seul MediaStream. En reception
     * seule, le portier envoie sa video dans un flux distinct de son audio : cette
     * video etait donc perdue, et le flux audio se retrouvait affecte a la balise
     * video, seule a porter autoplay. D'ou du son sans image. On ecoute 'track', qui
     * delivre chaque piste separement, et on envoie chacune a son lecteur. */
    function attacherMedia(pc) {
      if (!pc || pc.gds3710Attache) {
        return;
      }
      pc.gds3710Attache = true;

      var audioDistant = new MediaStream();
      var videoDistant = new MediaStream();

      pc.addEventListener('track', function (e) {
        console.log('JsSIP : piste distante recue : ' + e.track.kind);
        if (e.track.kind === 'audio') {
          audioDistant.addTrack(e.track);
          remoteAudio.srcObject = audioDistant;
        } else {
          videoDistant.addTrack(e.track);
          remoteView.srcObject = videoDistant;
          $(".remoteview[data-eqLogic_id=#id#]").show();
        }
      });

      /* Notre propre image, quand on en envoie une. */
      var local = new MediaStream();
      pc.getSenders().forEach(function (s) {
        if (s.track && s.track.kind === 'video') {
          local.addTrack(s.track);
        }
      });
      if (local.getTracks().length > 0) {
        selfView.srcObject = local;
        $(".selfview[data-eqLogic_id=#id#]").show();
      }
    }

    /* Un bouton par commande d ouverture visible. Le libelle vient de la commande
     * elle-meme : renommer « Ouvrir la porte » dans Jeedom renomme le bouton. */
    function poserBoutonsPorte() {
      var zone = $(".sipdoors[data-eqLogic_id=#id#]");
      zone.empty();
      var portes = settings.door_commands || [];
      for (var i = 0; i < portes.length; i++) {
        zone.append($('<a class="sipdoor btn btn-sm btn-warning"></a>')
          .attr('data-cmd', portes[i].id)
          .attr('data-eqLogic_id', '#id#')
          .css('margin', '0 4px')
          .text(portes[i].name));
      }
    }

    $(document).off('click.gds3710porte')
      .on('click.gds3710porte', '.sipdoor[data-eqLogic_id=#id#]', function () {
        var bouton = $(this);
        if (bouton.hasClass('disabled')) {
          return;
        }
        if (typeof jeedom === 'undefined' || !jeedom.cmd || !jeedom.cmd.execute) {
          console.log('GDS3710 : le coeur de Jeedom nexpose pas jeedom.cmd.execute.');
          return;
        }
        var libelle = bouton.text();
        bouton.addClass('disabled').text('Ouverture...');
        jeedom.cmd.execute({
          id: bouton.attr('data-cmd'),
          success: function () {
            console.log('GDS3710 : commande douverture envoyee (' + libelle + ').');
            bouton.removeClass('disabled').text(libelle);
          },
          error: function (erreur) {
            console.log('GDS3710 : ouverture refusee : '
              + ((erreur && erreur.message) ? erreur.message : erreur));
            bouton.removeClass('disabled').text(libelle);
            SIPbuttonModalChange(redColor, 'Ouverture refusee');
          }
        });
      });

    /* Numero compose au clavier. Vide, le bouton appelle le portier configure. */
    var composition = '';

    poserBoutonsPorte();

    function domaineSip() {
      var uri = settings.portier_sip_uri || settings.client_sip_uri || '';
      var arobase = uri.indexOf('@');
      return arobase === -1 ? '' : uri.substring(arobase + 1);
    }

    function cibleAppel() {
      if (composition === '') {
        return settings.portier_sip_uri;
      }
      var domaine = domaineSip();
      return domaine === '' ? composition : 'sip:' + composition + '@' + domaine;
    }

    /* Titre de la fenetre. Il annonce l etat plutot que de rester muet : c est la
     * premiere chose lue quand la fenetre s ouvre sur un appel entrant. */
    function majTitre(etat) {
      var nom = settings.equipment_name || 'Portier';
      var fenetre = $(".sipDisplay[data-eqLogic_id=#id#]");
      if (!fenetre.length || !fenetre.hasClass('ui-dialog-content')) {
        return;
      }
      fenetre.dialog('option', 'title', etat ? etat + ' - ' + nom : nom);
    }

    function majComposition() {
      $(".sipdialed[data-eqLogic_id=#id#]").text(composition);
      if (!sipClientState.sipOnCall) {
        SIPbuttonModalChange(greenColor,
          composition === '' ? 'Appeler' : 'Appeler ' + composition);
      }
    }

    /* Gestionnaires delegues et nommes : une reinitialisation du widget les remplace
     * au lieu de les empiler, ce qui enverrait chaque touche plusieurs fois. */
    $(document).off('click.gds3710clavier')
      .on('click.gds3710clavier', '.sipkey[data-eqLogic_id=#id#]', function () {
        var touche = $(this).attr('data-touche');
        if (sipClientState.sipOnCall && session) {
          /* En communication, le clavier envoie des tonalites DTMF : c'est par ce
           * canal que le portier recoit son code d'ouverture de porte. */
          session.sendDTMF(touche);
          console.log('JsSIP : tonalite DTMF envoyee : ' + touche);
          return;
        }
        composition += touche;
        majComposition();
      })
      .on('click.gds3710clavier', '.sipclear[data-eqLogic_id=#id#]', function () {
        composition = '';
        majComposition();
      });

    function startCall(){
      /* Cible figee avant tout appel asynchrone, et composition remise a zero :
       * l appel suivant doit repartir sur le portier, pas sur le dernier numero. */
      var cible = cibleAppel();
      composition = '';
      $(".sipdialed[data-eqLogic_id=#id#]").text('');

      console.log("JsSip : User Action - Start Call vers " + cible);

      contraintesMedia(!!settings.is_local_call_audio_enabled,
                       !!settings.is_local_call_video_enabled,
                       function (mediaConstraints) {
        var localCalloptions = {
          'mediaConstraints' : mediaConstraints,
          /* On continue de reclamer le flux du portier meme quand on n'envoie pas
           * le notre : sans cela, JsSIP ne poserait pas de ligne video dans l'offre
           * et l'image du portier disparaitrait avec la notre. */
          'rtcOfferConstraints' : { 'offerToReceiveAudio': 1, 'offerToReceiveVideo': 1 }
        };

        console.log("JsSip : Starting Call with Options : " + JSON.stringify(localCalloptions));

        session = sipClient.call(cible, localCalloptions);
      });
    }

    $(".sipDisplay[data-eqLogic_id=#id#]").dialog({
      autoOpen: false,
      modal: true,
      resizable: true,
      closeText: '',
      /* Dimensionnee sur la zone visible : une hauteur figee poussait les commandes
       * hors du cadre des que l ecran etait moins haut. */
      height: Math.min(880, Math.max(420, $(window).height() - 60)),
      width: Math.min(820, Math.max(320, $(window).width() - 40)),
      close: function(){
        if(sipClientState.sipOnCall){
          terminateCall();
        }
      }
    });

    /* La fenetre de jQuery UI ne suit pas le redimensionnement : on l y aide. */
    $(window).off('resize.gds3710sip').on('resize.gds3710sip', function () {
      var fenetre = $(".sipDisplay[data-eqLogic_id=#id#]");
      if (fenetre.length && fenetre.hasClass('ui-dialog-content') && fenetre.dialog('isOpen')) {
        fenetre.dialog('option', {
          height: Math.min(880, Math.max(420, $(window).height() - 60)),
          width: Math.min(820, Math.max(320, $(window).width() - 40))
        });
      }
    });

    $('.cmd[data-cmd_id=#id#]').on('click', function () {
      console.log('JsSIP : User Action - Opening Modal Window.');
      majTitre('');
      $(".sipDisplay[data-eqLogic_uid=#uid#]").dialog("open");
    });

    ringtone = new Audio("plugins/gds3710/core/sound/bell.mp3");
    tonalite = new Audio("plugins/gds3710/core/sound/tonalite.mp3");

    var selfView = document.getElementById('selfView');
    var remoteView = document.getElementById('remoteView');
    var remoteAudio = document.getElementById('remoteAudio');
    var previewView = document.getElementById('previewView');

    var session;
    var request;
    var originator;

    var websocket = new JsSIP.WebSocketInterface(settings.client_sip_websocket);
    //websocket.via_transport = "udp";
    
    var configuration = {
      sockets  : [websocket],
      uri      : settings.client_sip_uri,
      password : settings.client_sip_password
    };

    var sipClient;

    try
    {
      sipClient = new JsSIP.UA(configuration);
    } catch(e) {
      /* La variable du catch est e : lire error.message levait une ReferenceError
       * qui masquait la vraie cause, puis sipClient restait indefini. */
      gds3710SipProblem('la configuration SIP est invalide (' + e.message + ').');
      return;
    } 

    var status;
    var isCurrentlyOnPhone = false;
    var PhoneIsRinging = false;

    function SIPbuttonChange(color, text){
      $(".cmd.cmd-widget[data-cmd_id=#id#] .btn").html(text);
      $(".cmd.cmd-widget[data-cmd_id=#id#] .btn").attr('style', 'background-color : '+color+' !important');
    }

    function SIPbuttonModalChange(color, text){
      $(".sipactionbutton[data-eqLogic_id=#id#]").html(text);
      $(".sipactionbutton[data-eqLogic_id=#id#]").attr('style', 'background-color : '+color+' !important');
    }

    function SIPbuttonBisModalChange(color, text){
      $(".sipactionbisbutton[data-eqLogic_id=#id#]").html(text);
      $(".sipactionbisbutton[data-eqLogic_id=#id#]").attr('style', 'background-color : '+color+' !important');
    }

    sipClient.on('connecting', () =>{
      /* Le mot de passe SIP ne doit jamais apparaitre dans la console : il y reste
       * lisible par toute extension installee et par qui regarde lecran. */
      console.log('JsSIP : Connecting to : ' + settings.client_sip_websocket + ' as ' + settings.client_sip_uri);
      sipClientState.sipConnectionState = false;
      sipClientState.sipStateText = 'connecting';
    });

    sipClient.on('connected', () =>{
      console.log('JsSIP : You are connected.');
      sipClientState.sipConnectionState = true;
      sipClientState.sipStateText = 'connected';
    });

    sipClient.on('disconnected', () =>{
      console.log('JsSIP : You are disconnected.');
      sipClientState.sipStateText = 'disconnected';
      sipClientState.sipConnectionState = false;
    });

    sipClient.on('registered', () =>{
      console.log('JsSIP : You are registered.');
      sipClientState.sipRegistrationState = true;
      sipClientState.sipStateText = 'registered';
    });
  
    sipClient.on('unregistered', () =>{
      console.log('JsSIP : You are unregistered.');
      sipClientState.sipRegistrationState = false;
      sipClientState.sipStateText = 'unregistered';
      if (sipClient.isConnected())
      {
        sipClientState.sipConnectionState = true;
        sipClientState.sipStateText = 'connected';
        console.log('JsSIP : But you are still connected.');
      }
      else{
        sipClientState.sipConnectionState = false;
        sipClientState.sipStateText = 'disconnected';
        console.log('JsSIP : and you are disconnected.');
      }
    });
  
    sipClient.on('registrationFailed', (data)=>{
      console.log('JsSIP : Registration has failed.' + data.cause);
      sipClientState.sipRegistrationState = false;
      sipClientState.sipStateText = 'registration failed';

      if (sipClient.isConnected())
      {
        sipClientState.sipConnectionState = true;
        sipClientState.sipStateText = 'connected';
        console.log('JsSIP : But you are still connected.');
      }
      else{
        sipClientState.sipConnectionState = false;
        sipClientState.sipStateText = 'disconnected';
        console.log('JsSIP : and you are disconnected.');
      }
    });

    sipClient.on('newRTCSession', (data)=>{
      console.log('JsSIP : New RTC Session.');

      session = data.session;
      request = data.request;
      originator = data.originator;

      /* Sur un appel sortant, 'peerconnection' a deja ete emis a cet instant : c'est
       * ici, et pas dans son gestionnaire, qu'il faut rattacher le media. */
      attacherMedia(data.session.connection);

      /* JsSIP tient compte des modifications faites ici avant de passer la
       * description au navigateur. */
      data.session.on('sdp', function (e) {
        if (e.originator === 'remote') {
          e.sdp = nettoyerSdpDistant(e.sdp);
        }
      });

      if(originator=='local'){
          console.log('JsSIP : Local Call.');
          sipClientState.sipOnCall = true;
          sipClientState.sipWaitingAnswer = true;

          data.session.on('sending', function(data) {
            if(settings.codec_to_remove.length>0){
              console.log('JsSIP : Codec removing requested : '+settings.codec_to_remove);
              for (let i = 0; i < settings.codec_to_remove.length; i++) {
                data.request.body = removeCodec(data.request.body,settings.codec_to_remove[i]);
              }
              console.log('JsSIP : SDP after modification :')
              console.log(data.request.body);
            }

            if(settings.invite_line_to_remove.length>0){
              console.log('JsSIP : Codec removing requested : '+settings.invite_line_to_remove);
              for (let i = 0; i < settings.invite_line_to_remove.length; i++) {
                data.request.body = removeLineFromSDPWithRegex(data.request.body, settings.invite_line_to_remove[i]);
                console.log('JsSIP : SDP after modification :')
                console.log(data.request.body);
              }
            }
          });


          data.session.on('connecting', function() {
            console.log('JsSIP : Local Call - Connecting.');
            attacherMedia(data.session.connection); 

          });

          data.session.on('peerconnection', function(e) {
            console.log('JsSIP : Local Call - Peer Connection Accepted');
            attacherMedia(e.peerconnection || data.session.connection);
          });

          data.session.on('accepted', function(e) {
            console.log('JsSIP : Local Call - Accepted');
            sipClientState.sipWaitingAnswer = false;
          });

          data.session.on('confirmed', function(e) {
            console.log('JsSIP : Local Call - Confirmed');


          });

          data.session.on('ended', function(e) {
            console.log('JsSIP : Local Call - Ended with cause : '+e.cause);
            sipClientState.sipOnCall = false;
          });

          data.session.on('failed', function(e) {
            sipClientState.sipOnCall = false;
            /* Sans cette remise a zero, la tonalite dappel continue apres lechec. */
            sipClientState.sipWaitingAnswer = false;
            /* Affiche apres les deux affectations, qui repeignent le bouton. */
            SIPbuttonModalChange(redColor, 'Echec : ' + e.cause);
            console.log('JsSIP : Local Call - Failed with cause : '+e.cause);
          });
      }

      if(originator=='remote'){

        console.log('JsSIP : Incoming Call - '+data.session.remote_identity.display_name+' '+"<"+data.session.remote_identity.uri.scheme+":"+data.session.remote_identity.uri.user+"@"+data.session.remote_identity.uri.host+">");
        $(".namedisplay[data-eqLogic_id=#id#]").html(data.session.remote_identity.display_name);
        $(".uridisplay[data-eqLogic_id=#id#]").html(data.session.remote_identity.uri.scheme+":"+data.session.remote_identity.uri.user+"@"+data.session.remote_identity.uri.host);

        ouvrirApercu();

        sipClientState.sipRinging = true;

        console.log('JsSIP : Opening Modal Window.');
        $(".sipDisplay[data-eqLogic_uid=#uid#]").dialog("open");

        data.session.on('connecting', function() {
          console.log('JsSIP : Incoming Call - Connecting.');
            attacherMedia(data.session.connection); 
        });

        data.session.on('peerconnection', function(e) {
          console.log('JsSIP : Incoming Call - Peer Connection Accepted');
          fermerApercu();
          attacherMedia(e.peerconnection || data.session.connection);
          
        });

        data.session.on('accepted', function(e) {
          console.log('JsSIP : Incoming Call - Accepted');
        });

        data.session.on('confirmed', function(e) {
          console.log('JsSIP : Incoming Call - Confirmed');
        });

        data.session.on('ended', function(e) {
          console.log('JsSIP : Incoming Call - Ended with cause : '+e.cause);
          fermerApercu();
          sipClientState.sipOnCall = false;
          sipClientState.sipRinging = false;
        });

        data.session.on('failed', function(e) {
          console.log('JsSIP : Incoming Call - Failed with cause : ' + e.cause);
          /* e.cause reste generique ; le detail utile se trouve dans le message. */
          if (e.message) {
            console.log('JsSIP : detail de lechec : ' + (e.message.reason_phrase || e.message));
          }
          sipClientState.sipRinging = false;
          sipClientState.sipOnCall = false;
          SIPbuttonModalChange(redColor, 'Echec : ' + e.cause);
          fermerApercu();
          sipClientState.sipOnCall = false;
          sipClientState.sipRinging = false;
        });

      }

    });

    sipClient.start();

    }

    /* Chargement de la configuration.
     *
     * Elle contient le mot de passe du compte SIP et ne transite donc plus par la valeur
     * de la commande, qui est persistee en base, historisee et exposee par l'API. Elle est
     * demandee par un appel ajax soumis a la session Jeedom et aux droits sur l'equipement.
     * La valeur de la commande ne porte plus que l'identifiant de l'equipement. */
    (function () {

      if (typeof JsSIP === 'undefined') {
        gds3710SipProblem("la bibliotheque JsSIP n'a pas ete chargee");
        return;
      }

      /* Pre-requis le plus frequemment rencontre : les navigateurs refusent l'acces au
       * micro et a la camera hors contexte securise. Sans ce controle, l'appel echouait
       * sans explication et il fallait ouvrir la console pour le comprendre. */
      var secure = (window.location.protocol === 'https:'
                 || window.location.hostname === 'localhost'
                 || window.location.hostname === '127.0.0.1');
      if (!secure || !navigator.mediaDevices || !navigator.mediaDevices.getUserMedia) {
        gds3710SipProblem("Jeedom doit etre servi en HTTPS pour autoriser le micro et la camera");
        return;
      }

      /* La politique de securite du serveur web peut interdire la connexion au serveur
       * SIP : l'image Docker de Jeedom envoie une CSP sans directive connect-src, donc
       * le navigateur retombe sur default-src 'self' et refuse tout websocket externe.
       * L'echec est alors muet cote JsSIP. On ecoute l'evenement que le navigateur emet
       * dans ce cas, pour nommer la cause au lieu de laisser chercher. */
      document.addEventListener('securitypolicyviolation', function (e) {
        var uri = e.blockedURI || '';
        if (uri.indexOf('ws://') === 0 || uri.indexOf('wss://') === 0) {
          gds3710SipProblem('la politique de securite (CSP) de ce Jeedom interdit la '
            + 'connexion au serveur SIP. Voir la documentation, section Client SIP.');
          console.log('GDS3710 SIP : CSP a bloque ' + uri
            + ' (directive ' + (e.violatedDirective || 'default-src') + ')');
        }
      });

      $.ajax({
        type: 'POST',
        url: 'plugins/gds3710/core/ajax/gds3710.ajax.php',
        data: { action: 'getSipConfig', id: '#state#' },
        dataType: 'json',
        error: function (request, status, error) {
          gds3710SipProblem('configuration inaccessible (' + status + ')');
        },
        success: function (data) {
          if (data.state != 'ok') {
            gds3710SipProblem(data.result);
            return;
          }
          gds3710InitSip(data.result);
        }
      });

    })();

  </script>
</div>
