<div class="eqLogic-widget eqLogic allowResize gds3710" style="width: 240px;height: 260px;padding : 0px;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;#style#;" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="dashboard" >
	<center>
    	<span style="font-size: 1.2em;#hideEqLogicName#"><a href="#eqLink#">#name_display# <span style="font-size: 0.85em;">#object_name#</span></a></span>
  	</center>
	<center style="margin:10px;  display: flex; justify-content: center; align-items: center;">
		<img style="max-height: 100%; max-width: 100%;" src="/plugins/gds3710/core/php/camera.php?mac=#MAC#"/>
	</center>
</div>